<loader [load]="load" [absolutePosition]="true"></loader>
<div class="ui-g">
  <div class="ui-g-8 central" style="margin: auto">
    <input id="input-filter" type="text" size="40" pInputText placeholder="Search planet" [(ngModel)]="filter"
           (keyup)="filterList()">
  </div>

  <div class="ui-g-8 central central-inside">
    <div class="ui-g-nopad" style="padding-right: 10px; padding-top: 3px; font-size: 120%; color: rgba(24,107,160,0.75);">
      Planets per page
    </div>
    <div class="ui-g-nopad">
      <p-selectButton [options]="pageOptions" [(ngModel)]="selectedOption" (onChange)="filterList()"></p-selectButton>
    </div>
  </div>

  <div class="ui-g-9" style="margin: auto;">
    <div *ngFor="let planet of shownPlanet">
      <app-planet-box [planet]="planet"></app-planet-box>
    </div>
  </div>
  <div class="ui-g-12 central-inside">
    <button class="btn-np" *ngIf="pageShown > 0 && shownPlanet.length > 0" (click)="prevPageClick()">Previous
    </button>
    <button class="btn-np" *ngIf="nextPage && shownPlanet.length > 0" (click)="nextPageClick()">Next</button>
  </div>
</div>
