input[type=text], select {
  /*border: 0;*/
  /*border-bottom: 2px solid #1976D2;*/
  /*width: 100%;*/
  /*font-size: 30px;*/
  /*line-height: 35px;*/
  /*height: 70px;*/
  /*text-align: center;*/
  /*padding: 10px;*/
  /*background: transparent;*/
  /*color: #BBDEFB;*/

  display: block;
  border: none;
  border-radius: 20px;
  padding: 5px 8px;
  color: #333;
  box-shadow:
    inset 0 2px 0 rgba(0,0,0,.2),
    0 0 4px rgba(0,0,0,0.1);
  width: 100%;
  text-align: center;
}

input:focus {
  outline: 0;
  color: #BBDEFB;
}

.central{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.central-inside{
  display: flex;
  justify-content: center;
}

.btn-np {
  background: rgba(24,107,160,0.7);
  background-image: -webkit-linear-gradient(top, rgba(24,107,160,0.7), rgba(24,107,160,0.7));
  background-image: -moz-linear-gradient(top, rgba(24,107,160,0.7), rgba(24,107,160,0.7));
  background-image: -ms-linear-gradient(top, rgba(24,107,160,0.7), rgba(24,107,160,0.7));
  background-image: -o-linear-gradient(top, rgba(24,107,160,0.7), rgba(24,107,160,0.7));
  background-image: linear-gradient(to bottom, rgba(24,107,160,0.7), rgba(24,107,160,0.7));
  /*-webkit-border-radius: 34px;*/
  /*-moz-border-radius: 34px;*/
  /*border-radius: 34px;*/
  /*-webkit-box-shadow: 3px 2px 22px rgba(24,107,160,0.7)6;*/
  /*-moz-box-shadow: 3px 2px 22px rgba(24,107,160,0.7)6;*/
  /*box-shadow: 3px 2px 22px rgba(24,107,160,0.7);*/
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  border: solid rgba(24,107,160,0.7) 2px;
  text-decoration: none;
  transition: ease 0.4s;
}

.btn-np:hover {
  background: #990202;
  background-image: -webkit-linear-gradient(top, rgba(24,107,160,0.7), rgba(24,107,160,0.7));
  background-image: -moz-linear-gradient(top, rgba(24,107,160,0.7), rgba(24,107,160,0.7));
  background-image: -ms-linear-gradient(top, rgba(24,107,160,0.7), rgba(24,107,160,0.7));
  background-image: -o-linear-gradient(top, rgba(24,107,160,0.7), rgba(24,107,160,0.7));
  background-image: linear-gradient(to bottom, rgba(24,107,160,0.7), rgba(24,107,160,0.7));
  text-decoration: none;

  transition: ease 0.4s;
}
