@import url("../planet-list/planet-list.component.css");

.planettitle {
  font-size: 200%;
  font-weight: bold;
}

.simpleHeader {
  font-size: 150%;
}

.boxBorder {
  border-left: solid 1px black;
}

.linksBox {
  border:solid 2px rgba(164,167,167,0.51);
  border-radius: 8px;

  background-color: rgba(185,186,186,0.53);
  color: black;
}

.goBlack{
  color: rgba(40,41,41,0.65);
}

