<div class="ui-g-12" *ngIf="load">
  <loader [load]="load" [absolutePosition]="true"></loader>
</div>

<div class="ui-g" *ngIf="!load">
  <div class="ui-g-2 ">
    <button class="btn-np" (click)="back()">Back</button>
  </div>
  <div class="ui-g-8 ">
    <div class="ui-g-12 central central-inside planettitle">
      {{planet.name}}
    </div>
    <div class="ui-g-12 ui-g-nopad central central-inside">
      Created : {{planet.created | date: 'dd-MM-yyyy'}}, Edited : {{planet.edited | date: 'dd-MM-yyyy'}}
    </div>
  </div>

  <div class="ui-g-7 central central-inside" style="margin-top: 40px">
    <div class="ui-g-5 ui-md-12 ui-sm-12 boxBorder">
      <div class="ui-g-12 ui-g-nopad simpleHeader">
        Planet details
      </div>
      <div class="ui-g-6 ui-md-12 ui-sm-12 goBlack">
        <div class="ui-g-12">
          Diameter : {{planet.diameter | number: '2.2-2'}}
        </div>
        <div class="ui-g-12">
          Gravity : {{planet.gravity}}
        </div>
        <div class="ui-g-12">
          Climate : {{planet.climate}}
        </div>
        <div class="ui-g-12">
          <div class="ui-g-nopad" *ngIf="planet.population === number">
            Population : {{planet.population | number: '2.' : planet.population}}
          </div>
          <div class="ui-g-nopad" *ngIf="planet.population !== number">
            Population : {{planet.population}}
          </div>
        </div>

      </div>
      <div class="ui-g-6 ui-md-12 ui-sm-12 goBlack">
        <div class="ui-g-12">
          Surface water : {{planet.surface_water}}
        </div>
        <div class="ui-g-12">
          Terrain : {{planet.terrain}}
        </div>
        <div class="ui-g-12">
          Rotation period : {{planet.rotation_period | number: '2.2-2'}}
        </div>
        <div class="ui-g-12">
          Orbital period : {{planet.orbital_period | number: '2.2-2'}}
        </div>
      </div>
    </div>

    <div class="ui-g-4 ui-md-12 ui-sm-12 linksBox">
      <div class="ui-g-12 central-inside central simpleHeader">
        Links
      </div>
      <div class="ui-g-12" *ngIf="planet.films.length > 0">
        <b>Films :</b>
        <div class="ui-g-12" *ngFor="let film of planet.films">
          <a href="{{film}}">{{film}}</a>
        </div>
      </div>
      <div class="ui-g-12" *ngIf="planet.residents.length > 0">
        <b>Residents :</b>
        <div class="ui-g-12" *ngFor="let resident of planet.residents">
          <a href="{{resident}}">{{resident}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
