.card-style{
  border:solid 4px rgba(164,167,167,0.51);
  margin: 10px;
  border-radius: 8px;

  background-color: rgba(164,167,130,0.51);
  color: black;
  height: 250px;
  width: 200px;
  transition: 0.5s ease;

  display: block;
}

.header{
  align-content: center;
}

.details {

}

.card-style:hover{
  border:solid 4px rgba(24,107,160,0.7);
  margin: 10px;
  border-radius: 8px;

  transition: 0.5s ease;
  cursor: pointer;
}
