<div class="ui-g-2 ui-md-4 ui-sm-12 card-style" (click)="goDetails()">

  <header class="header ui-g-12">
    {{planet.name}}
  </header>

  <div class="details ui-g-12">
    <b>Population :</b> {{planet.population}}
  </div>
  <div class="details ui-g-12">
    <b>Climate :</b> {{planet.climate}}
  </div>
  <div class="details ui-g-12">
    <b>Diameter :</b> {{planet.diameter}}
  </div>
  <div class="details ui-g-12">
    <b>Created :</b> {{planet.created | date:'yyyy-MM-dd'}}
  </div>

</div>
